<section class="no-mb relative-positioned text-center-md bg-primary">
    <!--
*** JUMBOTRON ***
_________________________________________________________
-->
    <div style="background: url('{{ .Params.jumbotron_bg_img }}') center center repeat;
background-size: cover;" class="relative-positioned jumbotron text-md-center color-white bg-transparent">
        <div class="dark-mask"></div>
        <div class="container first-content">
            <div class="mb-small col-lg-12 jumbotron-image">
                <img src="{{ .Params.jumbotron_logo_img }}" alt="..." class="img-fluid d-md-inline-block d-none" style="padding-left: 24px;">
            </div>
        </div>
    </div>
    <!-- *** JUMBOTRON END ***-->
</section>
