{{ if .Site.Data.settings.site_topbar_enable }}
<div class="top-bar">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 d-md-block d-none">
                <p>Contact us at <a href="tel:{{ .Site.Data.settings.site_phone }}">{{ .Site.Data.settings.site_phone }}</a> or <a href="mailto:{{ .Site.Data.settings.site_email }}">{{ .Site.Data.settings.site_email }}.</a></p>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-md-end justify-content-between">
                    <ul class="list-inline contact-info d-block d-md-none">
                        <li class="list-inline-item">
                            <a href="tel:{{ .Site.Data.settings.site_phone | safeHTML}}"><i class="fa fa-phone"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="mailto:{{ .Site.Data.settings.site_email | safeHTML}}"><i class="fa fa-envelope"></i></a>
                        </li>
                    </ul>
                    <ul class="social-custom list-inline">
                      {{ range .Site.Data.settings.menu.topbar }}
                        {{ if ne .url "" }}
                        <li class="list-inline-item">
                            <a href="{{ .url }}" target="_blank">{{ .pre | safeHTML }}</a>
                        </li>
                        {{ end }}
                      {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
