<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>

        {{ partial "bigblock.html" . }}

        <!-- {{ partial "carousel.html" . }}-->
        <section class="bar background-white no-mb padding-big text-center-sm">
        <div class="container">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                  <img src="{{ .Params.top_content_imageURL }}" class="img-responsive">
              </div>
              <div class="col-md-8">{{ .Params.top_content | markdownify }}
                {{ if isset .Params "top_content_button_text" }}
                  <button type="button" onclick="window.location.href = '{{ .Site.Data.settings.site_churchDBURL }}';" class="btn btn-lg btn-primary">{{ .Params.top_content_button_text}}</button>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      </section>



        {{ partial "middle_blurb.html" . }}



        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="heading text-center">
                <h2>{{ .Params.bottom_content_heading }}</h2>
                <p>{{ .Params.bottom_content | markdownify }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="photo-gallery-row clearfix">
              <div class="stgeorge-photo stgeorge-photo-1"></div>
              <div class="stgeorge-photo stgeorge-photo-2"></div>
              <div class="stgeorge-photo stgeorge-photo-3"></div>
        </div>
        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
    <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/#/collections/post";
        });
      }
    });
  }
</script>

  </body>
</html>
